.pages-content {
    padding: 0 !important;
}

.hidden {
    display: none;
}

// DATATABLES

.table-row {
    #datatable_filter {
        position: relative;
        margin-top: auto;
        label {
            margin-bottom: 4px;
        }
    }
    .table-col {
        display: inline-flex;
        #datatable_length {
            position: relative;
            margin-top: auto;
            margin-right: 10px;
            label {
                margin-bottom: 4px;
            }
        }
    }
}

.dt-checkboxes {
    margin-top: 50%;
}

.alert-license {
    margin-left: 10px;
    position: relative;
    bottom: -3px;
}

.list-licenses {
    width: 25%;
}

#btn-details {
    padding-left: 6px;
    padding-right: 6px;
    padding-bottom: 2px;
    padding-top: 2px;
}

// DATATABLES

// PAGES

.page-row {
    margin-bottom: 15px;
    margin-top: 15px;
    @media (max-width: 576px) {
        text-align: center;
    }
}

// PAGES

// PAGE USERS

#search_group {
    @media (max-width: 576px) {
        position: relative;
        left: 36%;
        margin-top: 8px;
    }
}

.random_password,
.show_password {
    margin-bottom: 16px;
    margin-right: 16px;
}

.btn-license {
    margin-bottom: 16px;
}

#btn-groups {
    margin-right: 10px;
}
