// LOAD TRIP

#officina {
    display: none;
}

#vuoto {
    display: none;
}

.btn-trip {
    margin-bottom: 16px;
}

.input-stop {
    margin-bottom: 10px;
}

#form-success,
#form-falied {
    display: none;
}

// DOCUMENTS

.increment {
    margin-bottom: 10px;
}

.decrease {
    margin-top: 10px;
    margin-bottom: 10px;
}

.document-download {
    text-align: center;
}
